html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-y: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

.card {
    margin: 10px;
    width: 200px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    overflow: hidden;
}

.link {
    text-decoration: none;
    color: black;
    /* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700 */


    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}

.image {
    width: 100%;
    height: 60%;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.data {
    width: 100%;
    height: 40%;
    padding: 5px;
}

.data h4 {
    font-size: large;
    font-weight: bolder;
    color: rgb(56, 56, 56);
}

.data h6 {
    color: purple;
}

.number {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.data h5 {
    margin: 5px;
    text-align: center;
}









/* DETAILS PAGE */
.detail_parent {
    margin: auto;
    width: 80%;
    margin-top: 80px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.child {
    flex: 1 1 300px;
    aspect-ratio: 1/1;
}

.thumb {
    padding: 3px;
    width: 100%;
    height: 80%;
}

.images {
    display: flex;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gap {
    margin: 10px;
}


.img {
    width: 25%;
    height: 3rem;
    object-fit: cover;
}

.img img {
    width: 100%;
}

/* CSS */
.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-5:hover,
.button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
    transform: translateY(-1px);
}

.button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

/* cart */

.cartMain {
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;

    margin: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.crt {
    width: 500px;
    height: 200px;
    padding: 5px;
    display: flex;

}

.crt div {
    width: 500px;
    /* background-color: rebeccapurple; */
    padding: 20px 30px
}

.crt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.ds {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.place {
    text-align: center;
    padding: 50px;
}